.RSVP-container {
  height: 100%;
  width: 100%;
}

.RSVP-container > div {
  display: flex;
}

.RSVP-word {
  line-height: 1em;
  min-height: 1em;
}

.RSVP-left {
  flex: 1;
  text-align: right;
}

.RSVP-mid {
  color: var(--bs-red);
  text-align: center;
}

.RSVP-right {
  flex: 1;
  text-align: left;
}

.RSVP-marker {
  text-align: center;
}

.RSVP-notch {
  height: 0.5em;
  border-right-style: solid;
}

.RSVP-border,
.RSVP-border > div {
  margin: 0;
  padding: 0;
  border-color: var(--bs-secondary);
  border-width: 2px;
}

.RSVP-border-top {
  border-top-style: solid;
}

.RSVP-border-bottom {
  border-bottom-style: solid;
}
