.body {
}
.container {
    display: flex;
    justify-content: center;
}

#text-container {
    font-size: 2em;
    min-height: 1.2em;
    margin-top: 2px;
    margin-bottom: 2px;
}

.pre {
    flex: 1;
    text-align: right;
  }
  
 .anchor {
    color: red;
    text-align: center;
  }
  
 .post {
    flex: 1;
    text-align: left;
  }

  .mark {
    height: 6px;
    width: 2px;
    margin-top: auto;
    margin-bottom: auto;
    background-color: #666666;
  }